<h3>CHAT DE USUARIOS</h3>
<form id="formulario">
  Usuario:
  <input type="email" name="usuario" id="usuario" />
  Mensaje:
  <input type="text" name="mensaje" id="mensaje" />
  <input type="submit" value="ENVIAR" />
</form>

<p id="parrafo"></p>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>

