<h3 id="userName"></h3>
<form id="form">
  {{!-- Usuario:
  <input type="email" name="usuario" id="usuario" /> --}}
  Mensaje:
  <input type="text" name="message" id="message" />
  <input type="submit" value="SEND" />
</form>

<p id="chatParrafo"></p>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>

